<h1>Dashboard</h1>

<% if @user.phone_number == nil %>
  <%= form_with url: "/users", method: :patch, local: true do |form| %>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
    <%= form.submit "Update User" %>
  <% end %>
<% end %>


<h2>Contacts:</h2>
<% @contacts.each do |contact| %>
  <section class="contact">
    <p>Contact Name: <%= contact.name %></p>
    <p>Contact Phone Number: <%= contact.phone_number %></p>
    <p><%= button_to "Update #{contact.name}'s Info", "/contacts/#{contact.contact_id}/edit", method: :get  %></p>
    #######this is where the problem is, I think!!!!!
  </section>
<% end %>

<div class="btn btn-primary">
  <%= link_to 'Create Contact', '/contacts/new', :class => "btn"  %>
</div>

<h2>Timers:</h2>
<% if @timers != [] %>
  <% @timers.each do |timer| %>
    <section class="timer">
      <h1><%= link_to timer.name, "/timers/#{timer.id}" %></h1>
      <p>Duration: <%= timer.duration %></p>
      <p>Substance: <%= timer.substance %></p>
      <p>Dosage: <%= timer.dosage %></p>
      <p>Entry Instructions: <%= timer.entry_instructions %></p>
      <p>Notes: <%= timer.notes %></p>
    </section>
  <% end %>
<% end %>

<div class="btn btn-primary">
  <%= link_to 'Create Timer', '/timers/new', :class => "btn"  %>
</div>

<br>

<div class="btn btn-primary">
  <%= link_to 'Log Out', '/logout', :class => "btn"  %>
</div>
