<h1>Dashboard</h1>

<% if @user.phone_number == nil %>
  <%= form_with url: "/users", method: :patch, local: true do |form| %>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
    <%= form.submit "Update User" %>
  <% end %>
<% end %>


<h1>Created Timers: </h1>
<% if @timers != [] %>
<% @timers.each do |timer| %>
  <section class="timer">
    <h1><%= link_to timer.name, "/timers/#{timer.id}", method: :get %></h1>
    <p>Duration: <%= timer.duration %> minutes</p>
    <p>Substance: <%= timer.substance %></p>
    <p>Dosage: <%= timer.dosage %></p>
    <p>Entry Instructions: <%= timer.entry_instructions %></p>
    <p>Notes: <%= timer.notes %></p>
  </section>

<% end %>
<% else %>
  Please create timers.
<% end %>

<div class="btn btn-primary">
  <%= link_to 'Create New Timer', '/timers/new', :class => "btn"  %>
</div>

<br>
<h1>Contacts:</h1>
<% if @contacts != [] %>
  <% @contacts.each do |contact| %>
    <section class="contact">
      <h2>Contact Name: <%= contact.name %></h2>
      <h2>Contact Phone Number: <%= contact.phone_number %></h2>
      <div class="btn btn-primary">
        <%= link_to "Update #{contact.name}'s Info", "/contacts/#{contact.contact_id}/edit", :class => "btn", method: :get %>
      </div>
      <div class="btn btn-primary">
        <%= link_to "Delete #{contact.name}", "/contacts/#{contact.contact_id}", :class => "btn", method: :delete %>
      </div>
    </section>
  <% end %>
<% else %>
  Please create contacts.
<% end %>
<br><br>
<div class="btn btn-primary">
  <%= link_to 'Create Contact', '/contacts/new', :class => "btn"  %>
</div>

<br>

<div class="btn btn-primary">
  <%= link_to 'Log Out', '/logout', :class => "btn"  %>
</div>
