<h1>Timer: <%= @timer.name %></h1><br>
<h1>Duration: <%= @timer.duration %> minutes</h1><br>
<h1>Substance: <%= @timer.substance %></h1><br>
<h1>Dosage: <%= @timer.dosage %></h1><br>
<h1>Entry Instructions: <%= @timer.entry_instructions %></h1><br>
<h1>Notes: <%= @timer.notes %><br></h1><br>

<%= button_to 'Start Timer', "/active_timers", params: {user_id: session[:user_id], name: @timer.name, start_time: DateTime.now, duration: @timer.duration, substance: @timer.substance, dosage: @timer.dosage, entry_instructions: @timer.entry_instructions, notes: @timer.notes, status: 'Active'}, method: :post %><br>
<%= button_to 'Edit Timer', "/timers/#{@timer.id}/edit", method: :get %><br>
<%= button_to 'Delete Timer', "/timers/#{@timer.id}/delete", method: :delete %><br>
